/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
a{
    text-decoration: none;
    color: blue;
    font-size: 30px;
    margin-left:30px;
}
a:hover{
    color:red;
    cursor: pointer;
}
html, body { height: 100%;width: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
